<div class="feedback-pg-container">

  <div class="m-3">
    <h1> <%= @visit.restaurant.name %> </h1>
    <%# <p>Wait-time Accuracy Rating</p> %>
  </div>

  <div class="m-3">
    <%= simple_form_for @visit do |f| %>
      <div class="feedback-container">
        <%= f.input :rating, collection: (1..5).to_a, include_blank: false, label: "How accurate was the wait-time?" %>
        <%= f.input :feedback, placeholder: "Anything you'd like to mention?" %>
      </div>
      <div class="text-center mt-2">
        <%= f.submit "Submit", class: "brunch-button" %>
      </div>
    <% end %>
  </div>

</div>
  <div class="egg-container">
    <%= image_tag "bkgd_egg.png", style: "bottom: -285px" %>
  </div>

</div>
