<div class ="container">
  <div class="row">
    <h1 class="text-center mt-2">My Brunching History</h1>
    <hr class="text-center w-25 m-auto border border-1 border-primary opacity-100">
  </div>

  <div class="row">
    <% @visits.each do |visit| %>
      <div class=" d-flex justify-content-center">
        <div class="card-product justify-content-between">

          <div class="me-3">
            <img src= "<%= cl_image_path (visit.restaurant.photo.key)%>">
          </div>

          <div>
            <h3 class="fs-6"><%= link_to visit.restaurant.name, restaurant_path(visit.restaurant) %></h3>
            <p>On <%= visit.date.strftime("%A %b %d") %></p>
            <p> <%= visit.restaurant.address %></p>
           <%# <p>Wait time average :</p> %>
          </div>

          <div class="p-2 align-items-center">
            <p class="back-to-list-button d-flex align-items-center">
             <%= link_to 'Take me there again!', restaurant_path(visit.restaurant)%>
            </p>
          </div>

        </div>
      </div>
    <% end %>
  </div>
</div>


<%= link_to 'Home', restaurants_path %>
