<h1>All restaurants</h1>
  <div class="d-flex justify-content-between">
    <div class="d-flex flex-row">
      <div>
        <% @restaurants.each do |restaurant| %>
        <h3><%= link_to restaurant.name, restaurant_path(restaurant) %></h3>
        <%= restaurant.wait_time %>
        <%= restaurant.address %>
        <%end %>
      </div>

      <div id="map" style="height: 300px; width: 600px">
        <div style="width: 100%; height: 600px;"
          data-controller="mapbox"
          data-mapbox-markers-value="<%= @markers.to_json %>"
          data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
      </div>
    </div>
  </div>
