<div class="background" data-controller="see-map-or-list-button">
  <div class="d-flex flex-column justify-content-center" data-controller="refresh-list">
    <div data-see-map-or-list-button-target="list">
      <div class="container d-flex justify-content-center align-items-baseline mt-4">
        <div>
          <%= form_tag restaurants_path, method: :get, data: { refresh_list_target: 'form' } do %>
            <div class="search-form-control form-group d-flex">
              <%= text_field_tag :location,
                params[:location],
                class: "form-control color form-style",
                style: "width: 206px;margin-left: 8px;",
                placeholder: "Search locations...",
                data: {
                  refresh_list_target: 'searchInput',
                  action: "keyup->refresh-list#update",
                } %>
              <div data-refresh-list-target="list"></div>
              <%= submit_tag "Find", class: "brunch-button d-none", 'aria-label': 'Find button' %>
            </div>
            </div>

            <div class="search-form-control form-group form-style" style="width: 100px;">
              <select class="text-muted focus-class" name=wait_time data-refresh-list-target="time" data-action="change->refresh-list#update" style="border-left-width: 1px;width: 97px;height: 34px;" >
                <option value="">Wait time</option>
                <option class="fs-4" value="5"> Up to 5min </option>
                <option value="10"> Up to 10min </option>
                <option value="15"> Up to 15min </option>
                <option value="30"> Up to 30min </option>
                <option value="60"> Up to 60min </option>
                <%= submit_tag "Filter", class: "brunch-button d-none", 'aria-label': 'Filter button' %>
              </select>
            </div>
          <% end %>
        </div>

        <div data-refresh-list-target="restaurantsList" >
          <%= render 'list.html', restaurants: @restaurants %>
        </div>
    </div>

    <div id="map" style="width: 92vw" class = "d-none mx-auto my-3" data-see-map-or-list-button-target="map">
      <div style="width: 100%; height: 500px; margin: auto"
        data-controller="mapbox"
        data-mapbox-markers-value="<%= @markers.to_json %>"
        data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
        data-refresh-list-target="mapRefresh"
        data-action="refresh-list:refreshMap->mapbox#refreshMapAjax">
      </div>

    <div data-refresh-list-target="restaurantsList" class = "d-none" >
      <%= render 'list.html', restaurants: @restaurants %>
    </div>
  </div>
    <button class="brunch-button map-and-list-button mt-1 mb-3 mx-auto"
            data-action="click->see-map-or-list-button#show">See Map <i class="far fa-map"></i></button>

</div>
