<h1>All restaurants</h1>


  <div class="d-flex justify-content-between" data-controller="refresh-list">
    <div>
      <div>
        <%= form_tag restaurants_path, method: :get, class: 'mb-5', data: { refresh_list_target: 'form' } do %>
          <div class="search-form-control form-group d-flex"  style="width: 600px; margin: 0 auto;">
            <%= text_field_tag :location,
              params[:location],
              class: "form-control",
              placeholder: "Search locations...",
              data: {
                refresh_list_target: 'searchInput',
                action: "keyup->refresh-list#update",
              } %>
              <div data-refresh-list-target="list"></div>
            <%= submit_tag "Find", class: "btn btn-success" %>
          </div><br>
      </div>


        <h6> Search by: </h6>
        <div class="search-form-control form-group d-flex" style="width: 600px; margin: 0 auto;">
          <select name=wait_time>
            <option value="">Select</option>
            <option value="5"> less < 5</option>
            <option value="10"> less < 10</option>
            <option value="15"> less < 15</option>
            <option value="30"> less < 30</option>
            <option value="60">less < 60</option>
            <%= submit_tag "Filter", class: "btn btn-success" %>
          </select>
        </div>
      <% end %><br>


    <div data-refresh-list-target="restaurantsList">
      <%= render 'list.html', restaurants: @restaurants %>
    </div>
  </div>

    <div id="map" style="height: 300px; width: 600px">
      <div style="width: 100%; height: 600px;"
        data-controller="mapbox"
        data-mapbox-markers-value="<%= @markers.to_json %>"
        data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>

  </div>
