<h1>All restaurants</h1>


  <div class="d-flex justify-content-between">
    <div>
      <%= form_tag restaurants_path, method: :get do %>
        <div class="search-form-control form-group d-flex"  style="width: 600px; margin: 0 auto;">
          <%= text_field_tag :location,
            params[:location],
            class: "form-control",
            placeholder: "Search locations..."
          %>
          <%= submit_tag "Find", class: "btn btn-success" %>
        </div>
        <div>
        <h6> Search by: </h6>
          <select name=restaurant[:wait_time] class="form-control d-flex"  style="width: 600px; margin: 0 auto;">
            <option value= "None">Select</option>
            <option value= "wait_time < 5"> less < 5</option>
            <option value="wait_time < 10"> less < 10</option>
            <option value="wait_time < 15"> less < 15</option>
            <option value="wait_time < 30"> less < 30</option>
            <option value="wait_time < 60">less < 60</option>
            <%= submit_tag "Filter", class: "btn btn-success" %>
          </select>
        </div>
      <% end %>


      <% @restaurants.each do |restaurant| %>
        <h3><%= link_to restaurant.name, restaurant_path(restaurant) %></h3>
        <p><b>Address:</b> <%= restaurant.address %></p>
        <p><b>Wait-time:</b> <%= restaurant.wait_time %> min</p>
        <div data-controller="toggle-favorite">
          <%= link_to toggle_favorite_restaurant_path(restaurant), remote: true, method: :post, data: { action: "click->toggle-favorite#toggle" } do %>
            <%= render 'like_button', restaurant: restaurant %>
          <% end %>
        </div>
     <%end %>
    </div>

    <div id="map" style="height: 300px; width: 600px">
      <div style="width: 100%; height: 600px;"
        data-controller="mapbox"
        data-mapbox-markers-value="<%= @markers.to_json %>"
        data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>

  </div>
