<div class="background" data-controller="see-map-or-list-button">
  <div class="d-flex flex-column justify-content-center" data-controller="refresh-list">
    <div data-see-map-or-list-button-target="list">
      <div>
        <div>
          <%= form_tag restaurants_path, method: :get, data: { refresh_list_target: 'form' } do %>
            <div class="search-form-control form-group d-flex mt-3"  style="width: 400px; margin: 0 auto;">
              <%= text_field_tag :location,
                params[:location],
                class: "form-control color",
                placeholder: "Search locations...",
                data: {
                  refresh_list_target: 'searchInput',
                  action: "keyup->refresh-list#update",
                } %>
              <div data-refresh-list-target="list"></div>
              <%= submit_tag "Find", class: "brunch-button" %>
            </div>
            </div>

            <div class="search-form-control form-group d-flex" style="width: 400px; margin: 0 auto;">
              <select name=wait_time data-refresh-list-target="time" data-action="change->refresh-list#update" >
                <option value="">Select</option>
                <option class="fs-4" value="5"> 5min or less </option>
                <option value="10"> 10min or less </option>
                <option value="15"> 15min or less </option>
                <option value="30"> 30min or less </option>
                <option value="60"> 60min or less </option>
                <%= submit_tag "Filter", class: "brunch-button" %>
              </select>
            </div>
          <% end %>
        </div>

        <div data-refresh-list-target="restaurantsList" >
          <%= render 'list.html', restaurants: @restaurants %>
        </div>
    </div>

    <div id="map" style="width: 92vw" class = "d-none mx-auto my-3" data-see-map-or-list-button-target="map">
      <div style="width: 100%; height: 500px; margin: auto"
        data-controller="mapbox"
        data-mapbox-markers-value="<%= @markers.to_json %>"
        data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
        data-refresh-list-target="mapRefresh"
        data-action="refresh-list:refreshMap->mapbox#refreshMapAjax">
      </div>

    <div data-refresh-list-target="restaurantsList" class = "d-none" >
      <%= render 'list.html', restaurants: @restaurants %>
    </div>
  </div>
    <button class="brunch-button map-and-list-button my-2 mx-auto"
            data-action="click->see-map-or-list-button#show">See Map <i class="far fa-map"></i></button>

</div>
