<h1><%= @restaurant.name%></h1>

<p><%= @restaurant.address %></p>
<p><%= @restaurant.wait_time %></p>
<p><%= @restaurant.description %></p>
<p><%= @restaurant.price_range %></p>
<p><%= @restaurant.opening_hours %></p>
<p><%= @restaurant.phone_number %></p>

<%= simple_form_for [ @restaurant, @visit ] do |f| %>
  <%= f.submit "Take me there", class: "btn btn-primary" %>
<% end %>

<%= link_to 'Back to list', restaurants_path %>
