<div class="show-body">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @restaurant.photo.key, height: 500, crop: :fill if @restaurant.photo.attached? %>')">
  </div>
  <div class="container">
    <h1><%= @restaurant.name%></h1><br>
    <p><span class="bold-text-restaurant-details">Wait-time: </span><%= @restaurant.wait_time %> min</p>
    <p><span class="bold-text-restaurant-details">

    Accuracy Rating: </span>
      <% ratings = [] %>
      <% @visits.each do |visit| %>
        <% ratings << visit.rating %>
      <% end %>
      <%= (ratings.sum.to_f / ratings.size).round(1) %>
    </p><br>

    <p><span class="bold-text-restaurant-details">Address: </span><%= @restaurant.address %></p>
    <p><span class="bold-text-restaurant-details">Description: </span><%= @restaurant.description %></p>
    <p><span class="bold-text-restaurant-details">Price Range: </span><%= @restaurant.price_range %></p>
    <p><span class="bold-text-restaurant-details">Opening Hours: </span><%= @restaurant.opening_hours %></p>
    <p><span class="bold-text-restaurant-details">Phone Number: </span><%= @restaurant.phone_number %></p>

        <% @visits.each do |visit| %>
          <div class="review-cards d-flex justify-content-between align-items-top p-2">
          <div>
            <div class="d-flex">
              <p class="bold-text-restaurant-details my-0 pe-1"><%= visit.user.first_name %></p>
              <p class="my-0 py-0">Accuracy Rating: <%= visit.rating %></p>
            </div>
            <div>
              <p class="feedback"><%= visit.feedback %></p><br>
            </div>
          </div>
          <div class="review-date"><p><%= visit.date %></p></div>
            <% if visit.user == current_user %>
              <%= link_to "Edit feedback", edit_visit_path(visit), class: 'edit-feedback-link' %>
            <% end %>
          </div>
          <% end %>
      <%# <%= link_to 'See Reviews', _path, class: "btn btn-success" %>

    <div class="show-page-bottom-page-links">
      <div>
        <%= simple_form_for [ @restaurant, @visit ] do |f| %>
          <%= f.submit "Take me there", class: 'brunch-button' %>
        <% end %>
      </div><br>
      <div class="back-to-list-button">
        <%= link_to 'â†Back to brunch places', restaurants_path %>
      </div>
    </div>
  </div>
</div>
