<div class="show-body">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @restaurant.photo.key, height: 500, crop: :fill if @restaurant.photo.attached? %>')">
  </div>
  <div class="container">
    <h1><%= @restaurant.name%></h1><br>
    <p><span class="bold-text-restaurant-details">Wait-time: </span><%= @restaurant.wait_time %> min</p>
    <p><span class="bold-text-restaurant-details">Accuracy Rating: </span></p><br>
    <%# for line above: needs some logic to do this %>


    <p><span class="bold-text-restaurant-details">Address: </span><%= @restaurant.address %></p>
    <p><span class="bold-text-restaurant-details">Description: </span><%= @restaurant.description %></p>
    <p><span class="bold-text-restaurant-details">Price Range: </span><%= @restaurant.price_range %></p>
    <p><span class="bold-text-restaurant-details">Opening Hours: </span><%= @restaurant.opening_hours %></p>
    <p><span class="bold-text-restaurant-details">Phone Number: </span><%= @restaurant.phone_number %></p>

    <h2>Feedback from Brunchers</h2>
      <% @visits.each do |visit| %>
        <p><span class="bold-text-restaurant-details">Accuracy Rating: </span><%= visit.rating %></p>
        <p><span class="bold-text-restaurant-details">Comment: </span><%= visit.feedback %></p>

        <p><span class="bold-text-restaurant-details">Date Visited:</span> <%= visit.date %></p>
        <% if visit.user == current_user %>
          <%= link_to "Edit feedback", edit_visit_path(visit), class: 'edit-feedback-link' %>
        <% end %>
      <% end %>
    <%# <%= link_to 'See Reviews', _path, class: "btn btn-success" %>
    <div class="show-page-bottom-page-links">
      <div>
        <%= simple_form_for [ @restaurant, @visit ] do |f| %>
          <%= f.submit "Take me there", class: 'brunch-button' %>
        <% end %>
      </div><br>
      <div class="back-to-list-button">
        <%= link_to 'â†Back to brunch places', restaurants_path %>
      </div>
    </div>
  </div>
</div>
